<div class="container-flex px-3">
    <div class="row row-cols-lg-2">
        <!--<div class="col-lg-3 col-md-4">
            <div class="card pt-3 border-0">
                <h5 class="card-title text-center">Etiketler</h5>
                <div class="card-body text-center">
                    <%# tags.forEach(tag => { %>
                        <a href="#" class="btn px-1 p-0 my-1 border"><%#= tag %></a>
                    <%# }); %>
                </div>
            </div>
        </div>-->
        <div class="col-lg-12 col-md-12"><!-- 98LGMD -->
            <% allPosts.forEach(post => { %>
                <div class="card mb-3 border-0">
                    <a href="/blog/<%- post.title_post %>" class="text-body text-decoration-none">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="card-body">
                                    <h5 class="card-title text-decoration-underline"><%- post.title_post %></h5>
                                    <p class="card-text overflow-scroll"><%- post.summary_post %></p>
                                    <p class="card-text">
                                        <small class="text-body-secondary">
                                            <% post.tags.split(',').forEach(tag => { %>
                                            <span class="badge text-white text-bg-secondary"><%= tag %></span>
                                            <%}); %>
                                        </small>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-body-secondary"><%- post.datetime_blog %></small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <%}); %>
        </div>
    </div>
</div>